name: allure-junit5-maven

on: [ push ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up JDK 19
        uses: actions/setup-java@v2
        with:
          java-version: '19'

      - name: Run Test
        if: always()
        run: mvn package
        continue-on-error: true

      - name: Get Allure history
        uses: actions/checkout@v2
        if: always()
        continue-on-error: true
        with:
          ref: gh-pages
          path: gh-pages

      - name: Allure Report action from marketplace
        uses: simple-elf/allure-report-action@master
        if: always()
        id: allure-report
        with:
          allure_results: build/allure-results
          gh_pages: gh-pages
          allure_report: allure-report
          allure_history: allure-history

      - name: Deploy report to Github Pages
        if: always()
        uses: peaceiris/actions-gh-pages@v2
        env:
          PERSONAL_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PUBLISH_BRANCH: gh-pages
          PUBLISH_DIR: allure-history
          
      - name: Post the link to the report
  	if: always()
  	uses: Sibz/github-status-action@v1
  	with: 
      	authToken: ${{secrets.GITHUB_TOKEN}}
      	context: 'Test report'
      	state: 'success'
      	sha: ${{ github.event.pull_request.head.sha }}
      	target_url: simple-elf.github.io/github-allure-history/${{ github.run_number }}
